<div class="shell-header">
  <div class="shell-header__branding-container">
    <div class="shell-header__branding">
      <img class="shell-header__brand-image" src="assets/kube-brand.png" />
    </div>
  </div>
  <div class="shell-header__breadcrumbs-container"></div>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <a
      class="shell-sidenav__item"
      *ngFor="let item of navItems"
      [routerLink]="item.path"
      mat-button
    >
      {{ item.title }}
    </a>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
