<!-- <mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <a
      class="shell-sidenav__item"
      *ngFor="let item of navItems"
      [routerLink]="item.path"
      mat-button
    >
      {{ item.title }}
    </a>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container> -->
<fed-kube-shell [sideNavItems]="navItems">
  <router-outlet></router-outlet>
</fed-kube-shell>
