<div
  class="kube-shell-header__header-content kube-shell-header__section--vert-center"
>
  <div class="kube-shell-header__branding-container">
    <img class="kube-shell-header__brand-image" src="assets/kube-brand.png" />
    <p class="kube-shell-header__brand">Kubernetes</p>
  </div>
  <fed-searchbar class="kube-shell-header__search-bar"></fed-searchbar>
  <div class="kube-shell-header__section kube-shell-header__controls">
    <button mat-icon-button>
      <mat-icon class="kube-shell-header__control">add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="kube-shell-header__control">notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="kube-shell-header__control">face</mat-icon>
    </button>
  </div>
</div>
<div class="kube-shell-header__breadcrumbs-container"></div>
